/*hm_page*/

.hm_page {
    position: relative;
    width: 100%;
    color: #333;
}

.hm_page a {
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: .6rem;
    width: 20%;
    background-color: #da1886;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.hm_page p {
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: .6rem;
    width: 60%;
    text-align: center;
}

.hm_page a.disable {
    background-color: #d9d9d9;
    color: #fff;
}
